<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ambulance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,207}</string>
                <key>spriteSourceSize</key>
                <string>{102,207}</string>
                <key>textureRect</key>
                <string>{{0,218},{102,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Audi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,214}</string>
                <key>spriteSourceSize</key>
                <string>{98,214}</string>
                <key>textureRect</key>
                <string>{{274,0},{98,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Black_viper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,220}</string>
                <key>spriteSourceSize</key>
                <string>{107,220}</string>
                <key>textureRect</key>
                <string>{{102,218},{107,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,218}</string>
                <key>spriteSourceSize</key>
                <string>{92,218}</string>
                <key>textureRect</key>
                <string>{{89,0},{92,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mini_truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,250}</string>
                <key>spriteSourceSize</key>
                <string>{111,250}</string>
                <key>textureRect</key>
                <string>{{209,218},{111,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mini_van.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,196}</string>
                <key>spriteSourceSize</key>
                <string>{93,196}</string>
                <key>textureRect</key>
                <string>{{181,0},{93,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Police.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,214}</string>
                <key>spriteSourceSize</key>
                <string>{98,214}</string>
                <key>textureRect</key>
                <string>{{372,0},{98,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,234}</string>
                <key>spriteSourceSize</key>
                <string>{126,234}</string>
                <key>textureRect</key>
                <string>{{320,218},{126,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,216}</string>
                <key>spriteSourceSize</key>
                <string>{89,216}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite-sheet.png</string>
            <key>size</key>
            <string>{470,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfcec02059550e359fcfea2c4353964d:c650248821a08ffa2560159dabe9b2f5:38a8ca4d77cad675130e08d7c85f3e3a$</string>
            <key>textureFileName</key>
            <string>sprite-sheet.png</string>
        </dict>
    </dict>
</plist>
