[submodule "extensions/flappers/godot-headers"]
	path = extensions/flappers/godot-headers
	url = https://github.com/godotengine/godot-headers/
[submodule "extensions/neurogen"]
	path = extensions/neurogen
	url = https://github.com/MomenaAkhter/neurogen
[submodule "extensions/pong/godot-cpp"]
	path = extensions/pong/godot-cpp
	url = https://github.com/godotengine/godot-cpp
