[submodule "extensions/pong/godot-headers"]
	path = extensions/pong/godot-headers
	url = https://github.com/godotengine/godot-headers
[submodule "extensions/flappers/godot-headers"]
	path = extensions/flappers/godot-headers
	url = https://github.com/godotengine/godot-headers/
