<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{0,296},{336,112}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>pipe-green-body.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,296}</string>
                <key>spriteSourceSize</key>
                <string>{52,296}</string>
                <key>textureRect</key>
                <string>{{102,0},{52,296}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>pipe-green-head.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{52,24}</string>
                <key>textureRect</key>
                <string>{{154,0},{52,24}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>redbird-downflap.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>redbird-midflap.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,24}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>redbird-upflap.png</key>
            <dict>
                <key>aliases</key>
                <array />
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{68,0},{34,24}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false />
            <key>realTextureFileName</key>
            <string>sprite-sheet.png</string>
            <key>size</key>
            <string>{336,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e05530292f3d661bf664a46b94d5a53:5c26d129510437047aad75dff2c7230d:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>sprite-sheet.png</string>
        </dict>
    </dict>
</plist>
